<!-- Footer section -->
<div id="main-footer">
  <div class="container">
    <div class="g3 footer-item alpha">
      <h2><%= t('main.footer.first_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.first_block_menu_1'), about_path, :title => t('main.footer.first_block_menu_1') %></li>
        <li><%= link_to t('main.footer.first_block_menu_2'), about_path, :title => t('main.footer.first_block_menu_2') %></li>
        <li><%= link_to t('main.footer.first_block_menu_3'), about_path, :title => t('main.footer.first_block_menu_3') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.second_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.consultancy'), about_path, :title => t('main.footer.consultancy') %></li>
        <li><%= link_to t('main.footer.forwarding'), about_path, :title => t('main.footer.forwarding') %></li>
        <li><%= link_to t('main.footer.excursions'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.training'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.media_solutions'), about_path, :title => t('main.footer.media_solutions') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.third_block') %></h2>
      <ul>
        <li><%= link_to 'Linkedin', linkedin_path, :title => 'Linkedin' %></li>
        <li><%= link_to 'Facebook', facebook_path, :title => 'Facebook' %></li>
        <li class="subscribe-container"><%= link_to 'Subscribe ', subscribe_path, :title => 'Subscribe', :id => 'subscribe-link' %>
          <div id="send-request-overlay"></div>
          <div id="subscribe-form" style="display:none;">
            <%#= form_for @subscribe, :url => subscribe_path, :html => {:method => :post} do |f| %>
              <div class="field email">
                <%#= content_tag :span, '', :class => 'field-bg' %>
                <%#= f.text_field :email, :placeholder => 'nick@voroninstudio.eu',:data => { 
                  :validation => "validate_email", 'validation-error-msg' => 'Your email address does not appear to be valid', :label => 'email' }  %>
                <%#= f.label 'email', :id => 'subscriber_email_err_msg' %>
              </div>
              <div class="field submit">
                <%#= f.submit 'S'%>
              </div>
            <%# end %>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="g3 footer-item omega">
      <h2><%= t('main.footer.last_block') %></h2>
      <ul>
        <li>Sknyliv, Ring Road, Lviv.</li>
        <li>Mail to: 79018 Lviv, Gorodotska Str., 155, P.O.B. 2789</li>
        <li>tel.: +38 067 675 81 18</li>
        <li>&nbsp;</li>
        <li class="mail-to"><%= mail_to('info@qualitycompass.com') %></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'vs-logo.png', :alt => 'Handcrafted in Voronin studio 2013' %>
      <p>Handcrafted in <%= link_to 'Voronin studio', 'http://voroninstudio.eu', :title => 'Voronin studio' %> <br>
        2013. <%= link_to 'Legal notice', 'http://voroninstudio.eu', :title => 'Legal notice' %></p>
    </div>

    <div class="footer-item">
      <p>© 2013 Quality Compass GmBH</p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var $subscribe_container = $('#main-footer ul li.subscribe-container');
  var $subscribe_form= $('#main-footer #subscribe-form ');

  //function validate_string(string, validate_type){
  //  var exp=/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
    
  //  if(!exp.test(str!='') && str!=''){
  //    return false;
  //  }
  //  else{
  //    return true;
  //  }
  //}
  //function validate($input){
  //  var str = $input.val();
  //  validate_string  
  //}
  //$('#subscriber_email').blur(function(){
  //  var $this = $(this);
    //console.log('change');
    //if(!validate($this)){
    //  $('label[for=subscriber_email]').text($('#subscriber_email').attr('data-error-message'));
    //}
    //else{
    //  $('label[for=subscriber_email]').text($('#subscriber_email').attr('data-label'));
    //}
  //});
$('#subscribe-form form').find('textarea,input,select').each(function(){
  $(this).doValidate();
});

//var $el = $(this);
            $subscribe_form.find('textarea,input,select').change(function() {
                       $(this).doValidate();
                    });

            $subscribe_form.find('textarea,input,select').blur(function() {
                       $(this).doValidate();
                    });
            $subscribe_form.find('textarea,input,select').change(function() {
                       console.log('valid:'+ jQueryFormUtils.validateEmail($(this).text() ));
                    });

            $subscribe_form.find('textarea,input,select').change(function() {
                       console.log('change event');
                    });

            $subscribe_form.find('textarea,input,select').keyup(function() {
                       var $this=$(this);
                       //$this.doValidate();
                       var email = $this.val();
                       var valid = jQueryFormUtils.validateEmail(email);
                       console.log('keyup_event: ' + $this.val());
                    });


  $subscribe_form.submit(function(event){
        event.preventDefault();
        var handler = '/subscribe.xml';
        var email = $subscribe_container.find('#subscriber_email').val();
        //if(!validate('email'))

        //if($subscribe_form.find('input.error').length==0){
          if(jQueryFormUtils.validateEmail(email)){
        $.ajax(
          handler,
          { 
            type:'POST',
            data:{email:email},
            success:function(data){
              
              var $response = $(data);
              if( $response.find('result[valid=true]').length == 1 ){
                //alert('successfully subscribed!');  
                $('label[for=subscriber_email]').text(error_description).css('color','white');
              }
              else{
                //alert('You have entered invalid email address');
                var error_description='';
                //$response.find('errors error').each(function(error){
                  error_description = $response.find('errors error').filter('[field=email]').attr('description');

                //});
                $('label[for=subscriber_email]').text(error_description).css('color','red');
              }
            },
            error:function(){
              alert('Cannot connect to server. Please check your Internet connection.');
            },
            complete:function(){
              //$('.subscribe-container #send-request-overlay').hide();
            }
          });
        }

          
          
          //var $subscribe_overlay=$('#subscribe-container #send-request-overlay');
          //$('.subscribe-container #send-request-overlay').outerWidth($('#subscribe-form').outerWidth());
          //$('.subscribe-container #send-request-overlay').outerHeight($('#subscribe-form').outerHeight());
          //$subscribe_overlay.show();
      });
  
  $('#main-footer #subscribe-link').click(function(event){
    event.preventDefault();
    
    if($subscribe_form.css('display')=='none'){
      $subscribe_container.addClass('active');
      $subscribe_form.slideDown();

      
    }
    else{
      $subscribe_form.slideUp({
        complete:function(){
        $subscribe_container.removeClass('active');
        }
      });
      
    }
  });
});
</script>
<!-- /Footer section -->
