<!-- Footer section -->
<div id="main-footer">
  <div class="container">
    <div class="g3 footer-item alpha">
      <h2><%= t('main.footer.first_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.first_block_menu_1'), about_path, :title => t('main.footer.first_block_menu_1') %></li>
        <li><%= link_to t('main.footer.first_block_menu_2'), about_path, :title => t('main.footer.first_block_menu_2') %></li>
        <li><%= link_to t('main.footer.first_block_menu_3'), about_path, :title => t('main.footer.first_block_menu_3') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.second_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.consultancy'), about_path, :title => t('main.footer.consultancy') %></li>
        <li><%= link_to t('main.footer.forwarding'), about_path, :title => t('main.footer.forwarding') %></li>
        <li><%= link_to t('main.footer.excursions'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.training'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.media_solutions'), about_path, :title => t('main.footer.media_solutions') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.third_block') %></h2>
      <ul>
        <li><%= link_to 'Linkedin', linkedin_path, :title => 'Linkedin' %></li>
        <li><%= link_to 'Facebook', facebook_path, :title => 'Facebook' %></li>
        <li><%= link_to 'Subscribe ', subscribe_path, :title => 'Subscribe' %></li>
      </ul>
    </div>
    <div class="g3 footer-item omega">
      <h2><%= t('main.footer.last_block') %></h2>
      <ul>
        <li>Sknyliv, Ring Road, Lviv.</li>
        <li>Mail to: 79018 Lviv, Gorodotska Str., 155, P.O.B. 2789</li>
        <li>tel.: +38 067 675 81 18</li>
        <li>&nbsp;</li>
        <li class="mail-to"><%= mail_to('info@qualitycompass.com') %></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'vs-logo.png', :alt => 'Handcrafted in Voronin studio 2013' %>
      <p>Handcrafted in <%= link_to 'Voronin studio', 'http://voroninstudio.eu', :title => 'Voronin studio' %> <br>
        2013. <%= link_to 'Legal notice', 'http://voroninstudio.eu', :title => 'Legal notice' %></p>
    </div>

    <div class="footer-item">
      <p>© 2013 Quality Compass GmBH</p>
    </div>
  </div>
</div>
<!-- /Footer section -->