<div id="about-page">
  <div class="about-holder">
    <h1><%= t('main.menu.first_nav') %></h1>
    <br class="clear">
    <div class="about-first-section-avatar">
      <%= image_tag 'qc-logo-big.png', :title => t('main.menu.first_nav') %>
    </div>
    <div class="about-first-section-description">
      <p>I am extremely honoured to have the chance to address you in this prestigious moment when our institution, VC Kumaran Memorial School celebrates its 33rd Annual Day today. This is so precious moment for us because aside from the fact this function underlines our school’s successful back-to-back 33 years in its realm of imparting education, this dais is also going to witness the showcasing of talents of the young-buds of this school and the prize giving ceremony to the best students in various spheres.</p>
      <p>I am extremely honoured to have the chance to address you in this prestigious moment when our institution, VC Kumaran Memorial School celebrates its 33rd Annual Day today. This is so precious moment for us because aside from the fact this function underlines our school’s successful back-to-back 33 years in its realm of imparting education, this dais is also going to witness the showcasing of talents of the young-buds of this school and the prize giving ceremony to the best students in various spheres.</p>
    </div>
    <br class="clear">
    <div class="about-pusher"></div>
    <div class="about-item-section alpha">
      <h2><%= image_tag('heading-arrow.png') %> <%= get_text(1).name %></h2>
      <p><%= get_text(1).body %></p>
    </div>
    <div class="about-item-section">
      <h2><%= image_tag('heading-arrow.png') %> <%= get_text(2).name %></h2>
      <p><%= get_text(2).body %></p>
    </div>
    <div class="about-item-section omega">
      <h2><%= image_tag('heading-arrow.png') %> <%= get_text(3).name %></h2>
      <p><%= get_text(3).body %></p>
    </div>
    <br class="clear">
    <div class="about-pusher"></div>
    <div class="about-last-section-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut nibh arcu, id lobortis sem. Suspendisse id metus libero, sit amet lacinia magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent libero tellus, posuere a molestie nec, congue eu risus. Sed scelerisque cursus ultricies. Etiam nibh tortor, tristique at pharetra sit amet, pellentesque sit amet dui. Phasellus dignissim interdum massa in blandit. Integer vitae lectus a justo feugiat fringilla eget sit amet tortor. Donec lectus eros, mattis at consequat ac, vehicula non nisi. Phasellus feugiat aliquet neque eu faucibus. Nam ultricies ante vitae metus posuere molestie. Sed blandit interdum lorem, vestibulum molestie nibh tristique vel. In vel dapibus sapien. Pellentesque suscipit tempus dolor eget tristique. Phasellus ut orci a est convallis mattis eget tincidunt libero. Donec neque nunc, scelerisque at molestie tincidunt, malesuada vel tellus. Nunc rhoncus pellentesque adipiscing. Vestibulum lacinia consequat eros, eget commodo orci commodo sed. Pellentesque et erat lectus, ut cursus ante. Donec elit enim, eleifend sodales luctus et, faucibus ac lorem. Morbi purus ligula, porta eget elementum vel, dignissim sit amet enim. Suspendisse pharetra lacinia sem, eget blandit nisl pulvinar sed. Sed rutrum aliquet arcu. Phasellus metus ante, dapibus in adipiscing sed, vehicula a tellus. Sed tellus velit, dapibus eu vehicula non, egestas sit amet dolor. Phasellus id velit dolor, vitae ultrices eros. Nullam pellentesque velit nec libero rutrum ut bibendum mi euismod. Pellentesque lectus libero, iaculis non tincidunt mattis, venenatis ut dolor. Etiam sit amet dolor dolor, vitae euismod tortor. Mauris placerat dictum nibh, vel lobortis neque sollicitudin et. Mauris aliquam mi id sem laoreet nec iaculis diam porttitor. Mauris sagittis lacinia adipiscing. Donec vitae mauris nibh, nec varius orci. Nullam venenatis mi nec arcu semper ut faucibus lectus consequat. Pellentesque dictum facilisis aliquam. Cras in diam mauris. Sed est lacus, sollicitudin ac volutpat vel, tempus nec erat. Etiam in lacus id enim semper molestie. Suspendisse ut elementum urna. Aliquam eros turpis, accumsan at molestie quis, aliquam nec mi. Fusce et lectus in metus tempor pulvinar at a ante. Nam dignissim tincidunt diam, ac tincidunt metus imperdiet nec. Sed sed nunc id odio placerat scelerisque non ut augue. Donec ullamcorper, lacus in mattis laoreet, dui dolor ultrices ligula, in egestas quam est nec nibh. Ut erat mauris, luctus ut adipiscing ac, lacinia sed nisl. Sed faucibus, purus mollis tincidunt venenatis, diam massa posuere nunc, id commodo ligula velit eget dui. Donec nibh sem, semper et ultrices a, interdum eu leo. Aenean sagittis augue sit amet lorem posuere sed adipiscing lorem eleifend. Sed pulvinar tincidunt justo, ut condimentum ligula consectetur a. Mauris magna tortor, egestas a accumsan quis, varius id nulla. Sed ut lorem metus. Curabitur at ligula eu tortor porta consectetur. Mauris ut massa sit amet turpis condimentum ullamcorper a dictum ligula. In volutpat odio et lacus commodo sit amet ornare urna ullamcorper. In hac habitasse platea dictumst. Maecenas non sem in velit faucibus posuere quis eget ipsum. Sed nec tincidunt lacus. Integer ac nisi quis est cursus pharetra. Aliquam erat volutpat. Sed eget neque vel tellus rhoncus faucibus ac in lectus. Quisque pharetra dictum lorem, sed auctor nulla euismod ac. Donec viverra venenatis lacus, id laoreet augue sollicitudin vitae. Proin nibh massa, tristique quis scelerisque quis, auctor sit amet nunc. Mauris mauris erat, tristique semper imperdiet sit amet, dignissim eu elit. Etiam id tellus sed augue egestas sodales. Vivamus arcu est, tempus vitae porttitor luctus, faucibus sit amet augue. Praesent viverra erat sapien. Mauris ac arcu ante. Vestibulum euismod tellus vel nisl commodo id egestas nisl gravida. Integer non risus ac purus ullamcorper vestibulum. Praesent eu lacus dolor, sit amet ornare ipsum. Vivamus luctus molestie nunc, ut malesuada ipsum euismod at. Fusce sit amet nisi nisi. Pellentesque enim odio, iaculis at congue eget, semper ut turpis. Fusce ullamcorper eros eu leo vestibulum sodales. Duis viverra diam vitae magna imperdiet egestas euismod mauris commodo.</p>
    </div>
    <br class="clear">
    <div class="about-pusher"></div>
  </div>
</div>
