<div id="contact-page-erb" >
<!-- Info render -->
<div id="contact-wrapper" class="">
  <div class="g12">
    <h1><%= t('contact-page.main_title') %></h1>
  </div>
  <div id="contact-info-row-address" class="g4 contact-info-row alpha">
    <h2 class="title"><%= image_tag('heading-arrow.png') %><%= t('contact-page.address_field') %></h2>
    <div class="columns">
      <div class="column-values">
        <p class="title">вул. Городоцька, 357</p>
        <p class="title">м. Львів, Україна, 79068</p>
        <p class="sub-title">GPS: 49° 48° 757° Пн. Ш. 23° 58° 671° Сх. Д.</p>
      </div>
    </div>
  </div>
  <div id="contact-info-row-rian" class="g4 contact-info-row">
    <div class="header">
      <h2 class="title"><%= image_tag('heading-arrow.png') %>Rian Bast</h2>
      <span class="position" style="margin-left:45px;">Co-owner</span>
    </div>
    <div class="columns">
    <div class="column-properties">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>Tel:</span>
      <span>Mob:</span>
      <span>Fax:</span>
      <span>&nbsp;</span>

    </div>
    <div class="column-values">
      <span >Bast Kwaliteitsbeheer</span>
      <span>Mergelland 9</span>
      <span>7325 ZW Apeldoorn, Nederland</span>
      <span>+31 055-3604654</span>
      <span>+31 06-25231701</span>
      <span>+31 055-3604655</span>
      <span class="mail-to"><a href="mailto:info@kwaliteitsbeheer.nl">info@kwaliteitsbeheer.nl</a></span>
    </div>
  </div>
  </div>
  <div id="contact-info-row-oleh" class="g4 contact-info-row">
    <div class="header">
      <h2 class="title"><%= image_tag('heading-arrow.png') %>Oleh Dzhuryk</h2>
      <span class="position" style="margin-left:45px;">Director</span>
    </div>
    <div class="columns">
    <div class="column-properties">
      <span>&nbsp;</span>
      <span>Mob:</span>
      <span>Skype:</span>
      <span>Email:</span>

    </div>
    <div class="column-values">
      <span >81118 Sknyliv, Ring Road, Lviv, Ukraine</span>
      <span>+38 067 675 81 18</span>
      <span>dzhuryk_1</span>
      <span class="mail-to"><a href="mailto:oleh@qualitykompass.com">oleh@qualitykompass.com</a></span>
    </div>
  </div>
  </div>
</div>
<!-- /Info render -->

<!-- Gmap render -->
<div class="">
  <%= render :partial => "partials/gmap" %>
  <div class="clearfix"></div>
</div>
<!-- /Gmap render -->

<!-- Form render -->
<div class="form-block">
  <%= render :partial => "partials/contact_form" %>
</div>
<!-- /Form render -->
<script type="text/javascript">
  var validationSettings = {
                errorMessagePosition : 'top'
            };
            /*
            $('#contact_us')
                .submit(function() {
                    if ($(this).validate(false, validationSettings))
                        alert('Valid!');

                    return false;
                })
                .validateOnBlur(false, validationSettings)
                .showHelpOnFocus();
            */
</script>
</div>
