<div id="contact-page-erb" >
<!-- Info render -->
<div id="contact-wrapper" class="">
  <div class="g12">
    <h1><%= t('contact-page.main_title') %></h1>
  </div>
  <div id="contact-info-row-address" class="g4 contact-info-row alpha">
    <h2 class="title"><%= image_tag('heading-arrow.png') %><%= t('contact-page.address_field') %></h2>
    <p class="title">вул. Городоцька, 357</p>
    <p class="title">м. Львів, Україна, 79068</p>
    <p class="sub-title">GPS: 49° 48° 757° Пн. Ш. <br/>23° 58° 671° Сх. Д.</p>
    <div class="columns">
      <div class="column-values">
        
      </div>
    </div>
  </div>
  <div id="contact-info-row-rian" class="g4 contact-info-row">
    <div class="header">
      <h2 class="title"><%= image_tag('heading-arrow.png') %>Rian Bast</h2>
      <span class="position" style="">Co-owner</span>
    </div>
    <p >Bast Kwaliteitsbeheer</p>
    <p>Mergelland 9</p>
    <p>7325 ZW Apeldoorn, Nederland</p>
    <br/>
    <p>
      <span style="color:gray;float:left;clear:both;">Tel.:</span>
      <span style="float:left;margin-left: 16px;">+31 055-3604654</span>
    </p>
    <p>
      <span style="color:gray;float:left;clear:both;">Mob.:</span>
      <span style="float:left;margin-left:2px;">+31 06-25231701</span>
    </p>
    <p>
      <span style="color:gray;float:left;clear:both;">Fax:</span>
      <span style="float:left;margin-left:16px;">+31 055-3604655</span>
      <div class="clearfix"></div>
    </p>
    <br/>
    <p style="">
      
      <span class="mail-to" style="float: left;clear:both;"><a href="mailto:info@kwaliteitsbeheer.nl">info@kwaliteitsbeheer.nl</a></span>
    </p>
    <div class="columns">
    <div class="column-properties">

    </div>
    <div class="column-values">

      
    </div>
  </div>
  </div>
  <div id="contact-info-row-oleh" class="g4 contact-info-row">
    <div class="header">
      <h2 class="title"><%= image_tag('heading-arrow.png') %>Oleh Dzhuryk</h2>
      <span class="position" style="">Director</span>
    </div>
    <p>81118 Sknyliv, Ring Road, Lviv, Ukraine</p>
    <br/>
    <p>
      <span style="color:gray;float:left;">Mob.:</span>
      <span style="float:left;margin-left:8px;">+38 067 675 81 18</span>
    </p>
    <p>
      <span style="color:gray;float:left;clear:left;">Skype:</span>
      <span style="float: left;margin-left:2px;">dzhuryk_1</span>
      <div class="clearfix"></div>
    </p>
    <br/>
    <p><span class="mail-to" style="clear: both;"><a href="mailto:oleh@qualitykompass.com">oleh@qualitykompass.com</a></span></p>
    
  </div>
</div>
<!-- /Info render -->

<!-- Gmap render -->
<div class="">
  <%= render :partial => "partials/gmap" %>
  <div class="clearfix"></div>
</div>
<!-- /Gmap render -->

<!-- Form render -->
<div class="g12 form-block">
  <%= render :partial => "partials/home_form" %>
</div>
<!-- /Form render -->
<script type="text/javascript">
  var validationSettings = {
                errorMessagePosition : 'top'
            };
            /*
            $('#contact_us')
                .submit(function() {
                    if ($(this).validate(false, validationSettings))
                        alert('Valid!');

                    return false;
                })
                .validateOnBlur(false, validationSettings)
                .showHelpOnFocus();
            */
</script>
</div>
