<div id="contact-page-erb" >
<!-- Info render -->
<div id="contact-wrapper" class="">
  <div class="g12">
    <h1><%= t('contact-page.main_title') %></h1>
  </div>
  <div id="contact-info-row-address" class="g4 contact-info-row alpha">
    <h2 class="title"><%= image_tag('heading-arrow.png') %><%= t('contact-page.address_field') %></h2>
    <div class="columns">
      <div class="column-values">
        <p class="title">вул. Городоцька, 357</p>
        <p class="title">м. Львів, Україна, 79068</p>
        <p class="sub-title">GPS: 49° 48° 757° Пн. Ш. 23° 58° 671° Сх. Д.</p>
      </div>
    </div>
  </div>
  <div id="contact-info-row-work" class="g4 contact-info-row">
    <h2 class="title"><%= image_tag('heading-arrow.png') %><%= t('contact-page.hours_field') %></h2>
    <div class="columns">
    <div class="column-properties">
      <span>Пн—Пт:</span>
      <span>Сб:</span>
    </div>
    <div class="column-values">
      <span >09:00 &mdash; 18:00</span>
      <span>09:00 &mdash; 14:00</span>
    </div>
  </div>
  </div>
  <div id="contact-info-row-phone" class="g4 contact-info-row omega">
    <h2 class="title"><%= image_tag('heading-arrow.png') %><%= t('contact-page.contact_field') %></h2>
    <div class="columns">
    <div class="column-properties">
      <span>офіс:</span>
      <span>продаж:</span>
      <span>факс:</span>
    </div>
    <div class="column-values">
      <span >+38 (032) 244 00 00</span>
      <span>+38 (032) 244 00 15</span>
      <span>+38 (032) 244 00 09</span>
    </div>
  </div>
  </div>
</div>
<!-- /Info render -->

<!-- Gmap render -->
<div class="">
  <%= render :partial => "partials/gmap" %>
  <div class="clearfix"></div>
</div>
<!-- /Gmap render -->

<!-- Form render -->
<div class="form-block">
  <%= render :partial => "partials/contact_form" %>
</div>
<!-- /Form render -->
<script type="text/javascript">
  var validationSettings = {
                errorMessagePosition : 'top'
            };
            /*
            $('#contact_us')
                .submit(function() {
                    if ($(this).validate(false, validationSettings))
                        alert('Valid!');

                    return false;
                })
                .validateOnBlur(false, validationSettings)
                .showHelpOnFocus();
            */
</script>
</div>
