<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <meta name="description" content="<%= yield :meta_description %>" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header and navigation links -->
<%= render :partial => 'partials/lang_bar' %>
<div id="main-header">
  <div class="container">

  </div>
</div>
<!-- /Header and navigation links -->
<div id="main-render">
  <%= yield %>
</div>


<!-- Footer section -->
<div id="main-footer">
  <div class="container">
    <div class="g3 footer-item alpha">
      <h2>Who we are</h2>
      <ul>
        <li><%= link_to 'About us', about_path, :title => '' %></li>
        <li><%= link_to 'CEO massege', about_path, :title => '' %></li>
        <li><%= link_to 'Join us', about_path, :title => '' %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2>What we do</h2>
      <ul>
        <li><%= link_to 'Consultancy', about_path, :title => '' %></li>
        <li><%= link_to 'Forwarding', about_path, :title => '' %></li>
        <li><%= link_to 'Excursions', about_path, :title => '' %></li>
        <li><%= link_to 'Training', about_path, :title => '' %></li>
        <li><%= link_to 'Media solutions', about_path, :title => '' %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2>Social media</h2>
      <ul>
        <li><%= link_to 'Linkedin', about_path, :title => '' %></li>
        <li><%= link_to 'Facebook', about_path, :title => '' %></li>
        <li><%= link_to 'Twitter', about_path, :title => '' %></li>
        <li><%= link_to 'Subscribe ', about_path, :title => '' %></li>
      </ul>
    </div>
    <div class="g3 footer-item omega">
      <h2>Contatcs</h2>
      <ul>
        <li>Sknyliv, Ring Road, Lviv.</li>
        <li>Mail to: 79018 Lviv, Gorodotska Str., 155, P.O.B. 2789</li>
        <li>tel.: +38 (050) 417-07-28</li>
        <li><%= mail_to('info@qualitysompass.com') %></li>
      </ul>
    </div>
  </div>
</div>
<!-- /Footer section -->
</body>
</html>
