<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <meta name="description" content="<%= yield :meta_description %>" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header and navigation links -->
<%= render :partial => 'partials/lang_bar' %>
<div id="main-header">
  <div class="container">
    <div id="logo" class="g4">
      <%= link_to_unless current_page?(root_path), image_tag('qc-logotype.png', :alt => 'Quality Compass'), root_path %>
    </div>
    <div id="navigation" class="g8">
      <div class="mobile-nav-bt"></div>
      <nav>
        <ul>
          <li><%= link_to t('main.menu.first_nav'), about_path, :title => t('main.menu.first_nav') %></li>
          <li><%= link_to t('main.menu.second_nav'), about_path, :title => t('main.menu.second_nav') %></li>
          <li><%= link_to t('main.menu.third_nav'), news_path, :title => t('main.menu.third_nav') %></li>
          <li><%= link_to t('main.menu.last_nav'), about_path, :title => t('main.menu.last_nav') %></li>
        </ul>
      </nav>
    </div>
    <br class="clear">
    <div id="mobile-menu" class="g12">
      <nav>
        <ul>
          <li><%= link_to t('main.menu.first_nav'), about_path, :title => t('main.menu.first_nav') %></li>
          <li><%= link_to t('main.menu.second_nav'), about_path, :title => t('main.menu.second_nav') %></li>
          <li><%= link_to t('main.menu.third_nav'), news_path, :title => t('main.menu.third_nav') %></li>
          <li><%= link_to t('main.menu.last_nav'), about_path, :title => t('main.menu.last_nav') %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- /Header and navigation links -->

<div id="main-render">
  <%= yield %>
</div>


<!-- Footer section -->
<div id="main-footer">
  <div class="container">
    <div class="g3 footer-item alpha">
      <h2><%= t('main.footer.first_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.first_block_menu_1'), about_path, :title => t('main.footer.first_block_menu_1') %></li>
        <li><%= link_to t('main.footer.first_block_menu_2'), about_path, :title => t('main.footer.first_block_menu_2') %></li>
        <li><%= link_to t('main.footer.first_block_menu_3'), about_path, :title => t('main.footer.first_block_menu_3') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.second_block') %></h2>
      <ul>
        <li><%= link_to t('main.footer.consultancy'), about_path, :title => t('main.footer.consultancy') %></li>
        <li><%= link_to t('main.footer.forwarding'), about_path, :title => t('main.footer.forwarding') %></li>
        <li><%= link_to t('main.footer.excursions'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.training'), about_path, :title => t('main.footer.training') %></li>
        <li><%= link_to t('main.footer.media_solutions'), about_path, :title => t('main.footer.media_solutions') %></li>
      </ul>
    </div>
    <div class="g3 footer-item ">
      <h2><%= t('main.footer.third_block') %></h2>
      <ul>
        <li><%= link_to 'Linkedin', linkedin_path, :title => 'Linkedin' %></li>
        <li><%= link_to 'Facebook', facebook_path, :title => 'Facebook' %></li>
        <li><%= link_to 'Twitter', twitter_path, :title => 'Twitter' %></li>
        <li><%= link_to 'Subscribe ', subscribe_path, :title => 'Subscribe' %></li>
      </ul>
    </div>
    <div class="g3 footer-item omega">
      <h2><%= t('main.footer.last_block') %></h2>
      <ul>
        <li>Sknyliv, Ring Road, Lviv.</li>
        <li>Mail to: 79018 Lviv, Gorodotska Str., 155, P.O.B. 2789</li>
        <li>tel.: +38 (050) 417-07-28</li>
        <li>&nbsp;</li>
        <li class="mail-to"><%= mail_to('info@qualitysompass.com') %></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'vs-logo.png', :alt => 'Handcrafted in Voronin studio 2013' %>
      <p>Handcrafted in <%= link_to 'Voronin studio', 'http://voroninstudio.eu', :title => 'Voronin studio' %> <br>
        2013. <%= link_to 'Legal notice', 'http://voroninstudio.eu', :title => 'Legal notice' %></p>
    </div>

    <div class="footer-item">
      <p>© 2013 Quality Compass GmBH</p>
    </div>
  </div>
</div>
<!-- /Footer section -->
</body>
</html>
